@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --mint-cream: #f7fff6ff;
    --magic-mint: #bcebcbff;
    --granny-smith-apple: #87d68dff;
    --green-pantone: #39a742ff;
    --light-slate-gray: #8491a3ff;
    --nyanza: rgb(232, 247, 230);
    --phthalo-green: #132a13ff;
    --hunter-green: #31572cff;
    --sap-green: #4f772dff;
    --olivine: #90a955ff;
    --key-lime: #ecf39eff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: var(--nyanza);
    font-family: 'Poppins', sans-serif;
}


header .container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background: var(--green-pantone);
}

header .logo{
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: var(--mint-cream);
}

header nav button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 2rem;
    margin-right: 0.25rem;
    border: none;
}

header nav .login{
    background: #132A13;
    color: var(--mint-cream);
}

header nav .anunciar{
    background: var(--granny-smith-apple);
}

header nav button:hover{
    background: var(--magic-mint);
}

header nav .login:hover{
    color: black;
}

header nav button a{
    color:var(--mint-cream)
}

header nav img {
    height: 18px;
    margin-right: 10px;
}

.imagem-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    /* border: solid 1px; */
}

.imagem-principal img{
    width: 15%;
    align-items: center;
    /* border: solid 1px; */
}

.imagem-principal h3{
    margin-top: 2%;
    /* border: 1px solid; */
}

.localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    /* border: solid 1px; */
}

.localizacao form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.localizacao form select {
    margin: 1% 40%;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1rem;
}

.localizacao form a{
    background: var(--granny-smith-apple);
    border: none;
    border-radius: 10px;;
    height: 3rem;
    margin: 1% 40%;
    font-size: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.corpo {
    margin-top: 3%;
}

.corpo a {
    border: 1px solid gray;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-left: 10%;
}

.corpo .estado, .cidades-encontradas {
    margin-top: 2%;
    margin-left: 10%;
}

.cidades {
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
    height: 8rem;
    border-left: solid 3px var(--green-pantone);
}

.cidades a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: white;
    width: 90%;
}

.cidades a:hover {
    background: var(--mint-cream);
    transform: 1s;
}

.cidades .cidade-imagem img {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 3rem;
}

.cidades .cidade-nome p {
    color: black;
    font-size: 2rem;
    margin-left: 1rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-imagem img {
    width: 100%;
    height: 12rem;
}

.form-login form {
    margin-top: 2rem;
    width: 28%;
}

.form-login form input {
    width: 100%;
    height: 2rem;
    padding-left: 1rem;
}

.form-login form select{
    width: 100%;
    height: 2rem;
    padding-left: 1rem;
}

.form-login form a{
    background: var(--green-pantone);
    border: none;
    border-radius: 10px;
    height: 3rem;
    font-size: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

main .container-profile .topo {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 1%;
}

main .container-profile .topo .aberto {
    padding: 0 10rem;
}

main .container-profile .topo .aberto h3, p {
    margin-top: 4%;
    margin-bottom: 4%;
}

main .container-profile .topo .aberto .open {
    background: var(--green-pantone);
    border: none;
    border-radius: 0.25rem;
    color: white;
    padding: 0 10rem;
    margin-top: 1%;
}

main .container-profile .topo .aberto .open:hover {
    background: red;
}


main .container-profile .topo .copiar-link {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
}

main .container-profile .topo .copiar-link input {
    height: 2rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
}

main .container-profile .topo .copiar-link input, p {
    margin-top: 1%;
    margin-bottom: 1%;
}

main .container-profile .topo .copiar-link .copy {
    padding: 0 10rem;
    background: rgb(8, 171, 221);
    color: white;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1%;
}

main .container-profile .bot {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 1%;
}

main .container-profile .bot .meus-produtos .new-product {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: 2%;
}
main .container-profile .bot .meus-produtos .new-product a {
    background: var(--hunter-green);
    padding: 0 31rem;
    height: 2rem;
    border-radius: 0.25rem;
    color: white;
}

.produtos {
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
    height: 8rem;
    border-left: solid 3px var(--green-pantone);
}

.produtos a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: white;
    width: 30%;
}

.produtos a:hover {
    background: var(--mint-cream);
    transform: 1s;
}

.produtos .produto-imagem img {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 3rem;
}

.produtos .produto-nome p {
    color: black;
    font-size: 1rem;
    margin-left: 1rem;
}

.acoes {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    padding: 0 1.5rem;
    margin-top: 1%;
}

.acoes .editar {
    margin-right: 1rem;
    background-color: rgb(209, 209, 38);
    padding: 0 1rem;
    border-radius: 0.25rem;
    border: solid 1px gray;
}

.acoes .editar a {
    color: white;
}

.acoes .excluir {
    margin-right: 1rem;
    background-color: red;
    padding: 0 1rem;
    border-radius: 0.25rem;
    border: solid 1px gray;
}

.acoes .excluir a {
    color: white;
}

.comercios {
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
    height: 8rem;
    border-left: solid 3px var(--green-pantone);
}

.comercios a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: white;
    width: 90%;
}

.comercios a:hover {
    background: var(--mint-cream);
    transform: 1s;
}

.comercios .comercio-imagem img {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 3rem;
}

.comercios .comercio-nome p {
    color: black;
    font-size: 1rem;
    margin-left: 1rem;
}

.comercios .comercio-nome .title{
    font-size: 1.5rem;
}

.comercios .comercio-nome .horario{
    color: var(--green-pantone)
}

.comercios .comercio-nome .frete{
    color: var(--green-pantone)
}

.produtos {
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
    height: 8rem;
    border-left: 0px;
}

.produtos a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: white;
    width: 30%;
    margin-left: 1%;
    border-left: solid 3px var(--green-pantone);
}

.produtos a:hover {
    background: var(--mint-cream);
    transform: 1s;
}

.produtos .produto-imagem img {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 3rem;
}

.comercios .produto-nome p {
    color: black;
    font-size: 1rem;
    margin-left: 1rem;
}

.compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    width: 40%;
    height: 10rem;
}

.compra a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    margin-left: 1%;
    border-bottom: solid 3px var(--green-pantone);
}

.compra a:hover {
    background: var(--mint-cream);
    transform: 1s;
}

.compra .compra-imagem img {
    margin-top: 1rem;
    height: 3rem;
}

.compra .compra-imagem .produto-escolhido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.compra .compra-imagem .quantidade{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.quantidade h3{
    padding: 0 0.5rem;
}

.quantidade .mais{
    padding: 0 0.5rem;
}

.quantidade .menos{
    padding: 0 0.5rem;
}

.form-login .total {
    margin-left: 30%;
}

.form-login .continuar-comprando {
    background: rgb(8, 171, 221);
    height: 2rem;
    font-size: 1rem;
}

.form-login .continuar-comprando:hover {
    background: rgb(6, 184, 238);
}

.form-login .finalizar-pedido {
    background: var(--green-pantone);
}

.form-login .finalizar-pedido:hover {
    background: rgb(65, 190, 75);
}

.form-login .limpar-carrinho {
    background: rgb(212, 22, 9);
    height: 2rem;
    font-size: 0.8rem;
}

.form-login .cancelar {
    background: rgb(212, 22, 9);
    height: 2rem;
    font-size: 0.8rem;
}